# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/crm2Front-master/node_modules
/crm2Front-master/.pnp
/crm2Front-master.pnp.js

# testing
/crm2Front-master/coverage

# production
/crm2Front-master/build

# misc
/crm2Front-master.DS_Store
/crm2Front-master.env.local
/crm2Front-master.env.development.local
/crm2Front-master.env.test.local
/crm2Front-master.env.production.local

/crm2Front-master/npm-debug.log*
/crm2Front-master/yarn-debug.log*
/crm2Front-master/yarn-error.log*

/crm2API-master/node_modules
/crm2API-master/public/hot
/crm2API-master/public/storage
/crm2API-master/storage/*.key
/crm2API-master/vendor
/crm2API-master/.env
/crm2API-master/.env.backup
/crm2API-master/.phpunit.result.cache
/crm2API-master/docker-compose.override.yml
/crm2API-master/Homestead.json
/crm2API-master/Homestead.yaml
/crm2API-master/npm-debug.log
/crm2API-master/yarn-error.log